/* GLOBAL SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap');
html{scroll-behavior:smooth}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{ 
    background-image: url(background.jpg);
    background-position: center left; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

/* /GLOBAL SETTINGS */

/* MENUBAR */

  .menubar
{
    display: flex;
    position: fixed;
    top: 0;
    height: 8vh;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    font-family: 'Spectral SC', serif;
    font-size: 120%;
    z-index: 5;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;
  }
.menubar img {
  position: relative;
  display: block;
  height: 100%;
}
.menubar ul
{
    width: 100%;
    justify-content: center;
    display: inline-flex;
    list-style: none;
    color: rgb(255, 255, 255);
}
.menubar ul li
{
    width: 200px;
    margin: 1%;
    padding: 1.5vh;
    transition: 1s;
}
.menubar ul li a
{
    text-decoration: none;
    color: #fff;
    transition: 1s;  
}
.active, .menubar ul li:hover
{
    background: #B22222;
    border-radius: 30px;
    
  }
.menubar .fa
{
    margin-right: 10px;
}
.sub-menu-about
{
    display: none;
}

.menubar ul li:hover .sub-menu-about
{
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 1.5vh;
    margin-left: -2vw;
    border-radius: 5px;
}
.menubar ul li:hover .sub-menu-about ul
{
    display: block;
    margin: 10px;
}
.menubar ul li:hover .sub-menu-about ul li
{
    width: 10vw;
    padding: 10px;
    border-bottom: 1px dotted;
}
.menubar ul li:hover .sub-menu-about ul li:last-child
{
    border-bottom: none;
}
.fa-angle-right
{
    float: right;
}

/* /MENUBAR */

/* BURGER MENU FOR MOBILES */
.burgerbars {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 5;
  transition: 0.5s;
}

.bar {
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.burger
{
    display: none;
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    font-family: 'Spectral SC', serif;
    font-size: 120%;
    z-index: 5;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;
    transition: 0.5s;
  }
.burgerimg {
  position: absolute;
  display: block;
  width: 60vw;
  border-radius: 0 0 20px 20px;
  top: -100%;
  left: 20vw;
  z-index: 6;
  transition: 0.5s;
}
.burger ul
{
    margin-top: 20vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.burger ul li
{
    width: 200px;
    margin: 1%;
    padding: 1.5vh;
    transition: 1s;
}
.burger ul li a
{
    text-decoration: none;
    color: #fff;
    transition: 1s;  
}
.active, .burger ul li:hover
{
    background: #B22222;
    border-radius: 30px;
    
  }
.burger .fa
{
    margin-right: 10px;
}

/* /BURGER MENU FOR MOBILES */

/* CONTAINER WITH IMAGE/LINK IN THE CENTER OF THE MAIN PAGE  */

.blackening {
  position: fixed;
  display: block;
  width: 20vw;
  left: 0.5vw;
  top: 35vh;
  z-index: -1;
}

.blackening img {
  position: absolute;
  width: 100%;
  border-radius: 30px;
  opacity: 0.98;
  border-collapse: collapse;
  border-radius:15px;
  border-style:solid;
  border-width:1px;
  border-color:red;
  box-shadow: 0px 0px 15px rgba(255,0,0);
  transition: 0.5s;
}

.blackening img:hover {
  transform: scale(1.1) translateX(5vh);
  box-shadow: 0px 0px 50px rgba(255,0,0);
  transition: 0.5s;
}

.backlash {
  position: fixed;
  display: block;
  width: 25vw;
  left: 0.5vw;
  top: 62.5vh;
  z-index: -1;
}

.backlash img {
  position: absolute;
  width: 100%;
  border-radius: 30px;
  opacity: 0.98;
  border-collapse: collapse;
  border-radius:15px;
  border-style:solid;
  border-width:1px;
  border-color:red;
  box-shadow: 0px 0px 15px rgba(255,0,0);
  transition: 0.5s;
}

.backlash img:hover {
  transform: scale(1.1) translateX(5vh);
  box-shadow: 0px 0px 50px rgba(255,0,0);
  transition: 0.5s;
}

.obliqueness {
  position: fixed;
  display: block;
  width: 10vw;
  left: 0.5vw;
  top: 10vh;
  z-index: -1;
}

.obliqueness img {
  position: absolute;
  width: 100%;
  border-radius: 30px;
  opacity: 0.98;
  border-collapse: collapse;
  border-radius:15px;
  border-style:solid;
  border-width:1px;
  border-color:red;
  box-shadow: 0px 0px 15px rgba(255,0,0);
  transition: 0.5s;
}

.obliqueness img:hover {
  transform: scale(1.1) translateX(5vh);
  box-shadow: 0px 0px 50px rgba(255,0,0);
  transition: 0.5s;
}



/* /CONTAINER WITH IMAGE/LINK IN THE CENTER OF THE MAIN PAGE  */

/* BACKGROUND MUSIC FROM YOUTUBE IN CORNER   */

.iframe-container
{
    position: fixed;
    bottom: 8px;
    right: 16px;
    opacity: 0.9;
    z-index: -2;
}

/* /BACKGROUND MUSIC FROM YOUTUBE IN CORNER   */

/* CONTACT BAR */

.bottomframe
{
    position: fixed;
    display: block;
    bottom: 2vh;
    left: -2.5vw;
    width: 40vw;
    min-width: 300px;
    background: black;
    text-align: center;
    border-radius: 80px;
    opacity: 0.95;
    z-index: +1;
    overflow: hidden;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;
}
.bottomframe ul
{   
    display: flex;
    list-style: none;
}
.bottomframe ul li
{   
  
    width: 10vw;
    min-width: 70px;
    margin: 1%;
    padding: 20px;
    
}
.bottomframe ul li a
{
    font-size: 2em;
    text-decoration: none;
    color: #B22222;
}

/* /CONTACT BAR  */

.container {
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
}


div>ul>li>a>i:hover {
  transform: scale(1.3);
}

/* YOUTUBE VIDEOS PAGE  */

.ytvideos
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1120px;
    height: 630px;
}   

/* /YOUTUBE VIDEOS PAGE */

/* ABOUT BAND PAGE  */

  .aboutcontainer {
    display: block;
    position: absolute;
    left: 15%;
    top: 15vh;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 70vw;
    border-style: ridge;
    box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 0.90);
    padding: 10px;
    text-align: center;
    font-size: 25.8px; /* too lazy to find and make breakline in html */
    font-family: 'Amatic SC', cursive;
    z-index: -1;
  }
  .aboutcontainer img {
      margin-top: 10px;
      width: 100%;
      height: 100%;
  }

/* /ABOUT BAND PAGE */

/* MEMBERS PAGE */

  .Membersimg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .Membersimg img {
    width: 100%;
  }
  .Memberslist {
    position: absolute;
    width: 100vw;
    margin-top: 80vh;
    text-align: center;
    
  }
  .Memberslist ul li {
    display: inline-block;
    margin: 1.5vw;
    
  }
  .Memberslist ul li p {
    width: 16vw;
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 255, 255);
    font-size: 32px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    background-color: black;
    transition: 0.5s;

  }
  .Memberslist ul a {
        text-decoration: none;
  }
  .Memberslist ul li :hover {
    box-shadow: 0px 0px 6px 6px #B22222;
    transform: scale(1.2);
  }

  .Membersdescriptions {
    display: inline-block;
    margin-top: 100vh;
  }

  .Gorczidescription {
    width: 90vw;
    margin: 5vw;
    height: 40vh;
    border-radius: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6923144257703081) 10%, rgba(0,0,0,0.9023984593837535) 35%);
    overflow: scroll;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .Gorczidescription::-webkit-scrollbar {
    display: none;
  }
  

  .Gorczidescription p {
    padding: 1em;
    text-align: justify;
    line-height: 2.5vh;
    font-size: 2vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
  }

  .Gorczidescription img {
    float: left;
    height: 40vh;
    width: auto;
    padding: 1vh;
  }
  .Formeladescription {
    width: 90vw;
    margin: 5vw;
    height: 40vh;
    border-radius: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6923144257703081) 10%, rgba(0,0,0,0.9023984593837535) 35%);
    overflow: scroll;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .Formeladescription::-webkit-scrollbar {
    display: none;
  }
  

  .Formeladescription p {
    padding: 1em;
    text-align: justify;
    line-height: 2.5vh;
    font-size: 2vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
  }

  .Formeladescription img {
    float: left;
    height: 40vh;
    width: auto;
    padding: 1vh;
  }

  .Alandescription {
    width: 90vw;
    margin: 5vw;
    height: 40vh;
    border-radius: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6923144257703081) 10%, rgba(0,0,0,0.9023984593837535) 35%);
    overflow: scroll;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .Alandescription::-webkit-scrollbar {
    display: none;
  }

  .Alandescription p {
    padding: 1em;
    text-align: justify;
    line-height: 2.5vh;
    font-size: 2vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
  }

  .Alandescription img {

    float: left;
    height: 40vh;
    padding: 1vh;
    }

  .Frydadescription {
    width: 90vw;
    margin: 5vw;
    height: 40vh;
    border-radius: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6923144257703081) 10%, rgba(0,0,0,0.9023984593837535) 35%);
    overflow: scroll;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .Frydadescription::-webkit-scrollbar {
    display: none;
  }

  .Frydadescription p {
    padding: 1em;
    text-align: justify;
    line-height: 2.5vh;
    font-size: 2vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
  }
  .Frydadescription img {
    float: left;
    height: 40vh;
    padding: 1vh;
  }

  .Kubadescription {
    width: 90vw;
    margin: 5vw;
    height: 40vh;
    border-radius: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6923144257703081) 10%, rgba(0,0,0,0.9023984593837535) 35%);
    overflow: scroll;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .Kubadescription::-webkit-scrollbar {
    display: none;
  }

  .Kubadescription p {
    padding: 1em;
    text-align: justify;
    line-height: 2.5vh;
    font-size: 2vmin;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
  }
  
  .Kubadescription img {
    float: left;
    height: 40vh;
    padding: 1vh;
  }
  
  .Members>div>p {
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
  }

/* /MEMBERS PAGE */

/* EX MEMBERS PAGE */

  .exmembers {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
  }
  
  .card {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    width: 18vw;
    height: 50vh;
    margin: .5vw;
    border-radius: 15px;
    text-align: center;
    font-family: 'Spectral SC', serif;
    border: ridge;
    box-shadow: 0px 0px 6px 6px;
    transition: 0.5s;
  }
  
  .card:hover {
    transform: scale(1.25);
    box-shadow: 0px 0px 12px 12px #B22222;
  }

  .card-image {
    height: 80%;
    margin-bottom: 5%;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }

  .jakubmazur {
    background-image: url('../subpages/jakubmazur.jpg');
  }
  
  .szymonkrolak {
    background-image: url('../subpages/szymonkrolak.png');
  }

  .aleksandergaldyn {
    background-image: url('../subpages/aleksandergaldyn.jpg');
  }

  .lukaszraczkowski {
    background-image: url('../subpages/lukaszraczkowski.jpg');
  }

  .pawelsowinski {
    background-image: url('../subpages/pawelsowinski.jpg');
  }

  /* /EX MEMBERS PAGE */

/* GALLERY PAGE */

  .gallery {
    display: flex;
    margin-top: 100px;
  }
  .gallery2 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
  }
  .pubtorpeda {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    height: 250px;
    width: 350px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .pubtorpeda img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .pubtorpeda a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .pubtorpeda p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .emergenza {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .emergenza img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .emergenza a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .emergenza p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .narniostock {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .narniostock img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .narniostock a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .narniostock p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .paszczalwa2018 {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .paszczalwa2018 img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .paszczalwa2018 a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .paszczalwa2018 p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }

  .intertony {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .intertony img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .intertony a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .intertony p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }


  .cer {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .cer img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .cer a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .cer p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }

  .cockney {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .cockney img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .cockney a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .cockney p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }

  .domzarazy {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .domzarazy img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .domzarazy a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .domzarazy p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }

  .gallerycontainer {
    margin: 25vh auto;
    background-color: rgba(0, 0, 0, 0.90);
    color: rgb(255, 255, 255);
    max-width: 1600px;
    padding: 50px 20px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
.gallery div p {
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
}
.gallery2 div p {
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
}
  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }

  .galleryImg {
    max-width: 100%;
    border-radius: 15px;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
  }
  
  .galleryImg:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px black;
  }

  #popup {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.90);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 250ms transform;
    padding: 50px;
  }
  
  #selectedImage {
    max-height: 100%;
  }
 
  /* /GALLERY PAGE */

  /* TOUR DATES PAGE */

.tourdatescontainer {
  display: block;
  position: fixed;
  width: 80vw;
  left: 10vw;
  top: 5vh;
  text-align: center;
  color: white;
  z-index: -1;
  overflow-y: scroll;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tourdatescontainer::-webkit-scrollbar {
  display: none;
}

.tourdateslist {
  width: 100%;
  list-style: none;
}

.tourdateslist li {
  position: relative;
  display: flex;
  min-width: 360px;
  font-size: 1.5vmax;
  min-height: 7em;
  margin-top: 5vh;
  box-shadow: 0px 0px 4px 4px #B22222;
  border-style: ridge;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.90);
}

.tourdateslist div {
  display: block;
  position: absolute;
  left: 30%;
  width: 70%;
  bottom: 1vh;
  font-family: 'Amatic SC', cursive;
}

.tourdateslist li p {
  position: absolute;
  display: block;
  left: 30%;
  width: 70%;
  font-family: 'Spectral SC', serif;
  text-align: center;
  margin-bottom: 5px;
  color: red; 
}

.tourdateslist li img {
  display: block;
  width: 30%;
}
li .past, li .past+p {
  color: rgb(199, 199, 199);
}

/* /TOUR DATES PAGE */



/* MERCH PAGE */

.merchcontainer {
  display: block;
  position: absolute;
  left: 30vw;
  top: 15vh;
  background-color: black;
  color: rgb(255, 255, 255);
  width: 40vw;
  border-style: ridge;
  box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 0.90);
  padding: 10px;
  line-height: 25px;
  text-align: center;
  font-size: 26px;
  font-family: 'Amatic SC', cursive;
  z-index: -1;
}
.merchcontainer img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.merchlist {
  width: 70%;
  margin-top: 100vh;
  margin-left: 15%;
  list-style: none;
  margin-bottom: 3vh;
}

.merchlist ul {
  list-style: none;
}

.merchlist li {
  position: relative;
  display: flex;
  min-width: 360px;
  font-size: 40px;
  min-height: 7em;
  margin-top: 3vh;
  box-shadow: 0px 0px 4px 4px #B22222;
  border-style: ridge;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.90);
}

.merchlist li p {
  position: absolute;
  display: block;
  left: 30%;
  width: 70%;
  top: calc(50% - 40px);
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: red; 
  font-size: 60px;
}

.merchlist li img {
  display: block;
  width: 30%;
}
.merchlist ul li div {
  display: block;
  position: absolute;
  right: 1%;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  color: #fff;
}
.merchlist a {
  display: block;
  position: absolute;
  right: 1%;
  bottom: 1%;
  color: white;
  font-size: 80px;
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  transition: 0.5s;
}
.merchlist a:hover {
  color: red;
  font-size: 100px;
}

/* /MERCH PAGE */

/* NEWS PAGE */

.news {
  display: block;
  position: absolute;
  left: 10vw;
  top: 10vh;
  color: rgb(255, 255, 255);
  width: 80vw;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  font-family: 'Amatic SC', cursive;
  z-index: -1;
}
.news ul {
  list-style: none;
  box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 0.90);
}
.news ul li {
  border-style: ridge;
  background-color: rgba(0, 0, 0, 0.97);
  margin-bottom: 3vh;
  
}
.news img {
    margin: 10px;
    max-height: 30vh;
    max-width: 60vw;
}
.news a {
  color: red;
  font-size: 30px;
  text-decoration: none;
  transition: 0.5s;
}
.news a:hover {
  font-size: 40px;
}

/* /NEWS PAGE */

/* CONTACT PAGE */

.contact-box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

form {
  height: auto;
  width: 70vw;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px;
  border: ridge;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input-group {
  flex-basis: 48%;
}

input, textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #B22222;
  box-shadow: 0px 0px 4px 4px #B22222;
  color: #fff;
  background: transparent;
  font-size: 15px;
}

textarea {
  height: 250px;
}

label {
  position: absolute;
  padding: 10px;
  left: 0;
  top: 0;
  color: rgb(100, 100, 100);
  cursor: text;
  transition: 0.2s;
}

.contact-box button {
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #B22222;
  box-shadow: 0px 0px 4px 4px #B22222;
  color:#B22222;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  height: 70px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-box button:hover {
  background: #B22222;
  color: #fff
}

input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
  top: -35px;
  font-size: 14px;
}

/* /CONTACT PAGE */

/* MEDIA QUERIES */

@media (max-width: 1680px)  {
  .menubar ul li {
    width: 135px;
    padding: 0.5vh;
    font-size: 14px;
  }
}
@media (max-width: 1600px)  {
  .menubar ul li {
    width: 150px;
    padding: 0.15vh;
  }
  .contact-box {
    height: 85vh;
}
}
@media (max-width: 1600px) {
  .menubar ul li {
    width: 175px;
    height: 100%;
    margin-top: 2vh;
    padding: 0.5vh;
  }
  .menubar ul li:hover .sub-menu-about
  {
      margin-left: -1.5vw;
  }
  .menubar ul li:hover .sub-menu-about ul li
  {
      padding: 4px;
  }
  .contact-box {
      height: 110vh;
  }
  form {
    margin-top: -25vh;
  }
}
@media (max-width: 1024px) {
  .menubar ul li {
    width: 100px;
    font-size: 10px;
  }
  .bottomframe {
    font-size: 12px;
  }
  .aboutcontainer {
    font-size: 16px;
  }
  .Memberslist ul li p {
    width: 170px;
    font-size: 26px;
  }
  .card {
    font-size: 8px;
  }
  .narniostock {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .narniostock p {
    width: 200px;
  }
  .cockney {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .cockney p {
    width: 200px;
  }
  .domzarazy {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .domzarazy p {
    width: 200px;
  }
  .paszczalwa2018 {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .paszczalwa2018 p {
    width: 200px;
  }
  .intertony {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .intertony p {
    width: 200px;
  }
  .emergenza {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .emergenza p {
    width: 200px;
  }
  .cer {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .cer p {
    width: 200px;
  }
  .pubtorpeda {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .pubtorpeda p {
    width: 200px;
  }
  .gallery {
    margin-top: 25px;
    margin-left: 25px;
  }
  .gallery2 {
    margin-left: 25px;
  }
  .gallery div p {
    font-size: 12px;
  }
  .gallery2 div p {
    font-size: 20px;
  }
  .merchlist li {
    min-height: 0;
  }
  .merchlist li p {
    font-size: 50px;
  }
  .merchlist li a {
    font-size: 30px;
  }
  .merchlist ul li div {
    font-size: 25px;
  }
  .contact-box {
    margin-top: -5vh;
  }
  textarea {
    height: 100px;
  }
  button {
    font-size: 36px;
  }
  .ytvideos {
    max-width: 80vw;
  }
}
@media (max-width: 1400px)  {
  .narniostock {
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    height: 175px;
  }
  .narniostock p {
    width: 300px;
  }
  .cockney {
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    height: 175px;
  }
  .cockney p {
    width: 300px;
  }
  .domzarazy {
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    height: 175px;
  }
  .domzarazy p {
    width: 300px;
  }
  .paszczalwa2018 {
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    height: 175px;
  }
  .paszczalwa2018 p {
    width: 300px;
  }
  .intertony {
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    height: 175px;
  }
  .intertony p {
    width: 300px;
  }
  .emergenza {
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    height: 175px;
  }
  .emergenza p {
    width: 300px;
  }
  .cer {
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    height: 175px;
  }
  .cer p {
    width: 300px;
  }
  .pubtorpeda {
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    height: 175px;
  }
  .pubtorpeda p {
    width: 300px;
  }
  .gallery, .gallery2 {
    margin-left: 25px;
  } 
  form {
    height: 46.5vh;    
  }
}
@media (max-width: 1600px)  {
  form {
    height: 47.5vh;
  }
}
@media (max-width: 1280px)  {
  .menubar ul li {
    width: 125px;
  }
  .gallery, .gallery2 {
    margin-left: 60px;
  }
  .narniostock {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 175px;
  }
  .narniostock p {
    width: 250px;
  }
  .cockney {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 175px;
  }
  .cockney p {
    width: 250px;
  }
  .domzarazy {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 175px;
  }
  .domzarazy p {
    width: 250px;
  }
  .paszczalwa2018 {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 175px;
  }
  .paszczalwa2018 p {
    width: 250px;
  }
  .intertony {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 175px;
  }
  .intertony p {
    width: 250px;
  }
  .emergenza {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 175px;
  }
  .emergenza p {
    width: 250px;
  }
  .cer {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 175px;
  }
  .cer p {
    width: 250px;
  }
  .pubtorpeda {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 175px;
  }
  .pubtorpeda p {
    width: 250px;
  }
}
@media (max-width: 1440px) {
  .menubar ul li {
    width: 150px;
  }
  form {
    height: 54vh;
  }
}
@media (max-width: 1280px) {
  .menubar ul li {
    width: 125px;
  }
  form {
    height: 60vh;
  }
  .card {
    font-size: 10px;
  }
  .gallery div p, .gallery2 div p {
    font-size: 18px;
  }
}
@media (max-width: 1366px) {
  .card {
    font-size: 10px;
  }
  .gallery, .gallery2 {
    margin-left: 5px;
  }
  form {
    height: 62.5vh;
  }
}
@media (max-width: 1280px) {
  .aboutcontainer {
    font-size: 20px;
  }
  .gallery, .gallery2 {
    margin-left: 50px;
  }
  form {
    height: 67.5vh;
  }
}
@media (max-width: 1024px) {
  .menubar ul li {
    width: 100px;
    font-size: 10px;
    margin-top: 10px;
  }
  .Memberslist ul li p {
    font-size: 20px;
  }
  .narniostock {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .narniostock p {
    width: 200px;
  }
  .cockney {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .cockney p {
    width: 200px;
  }
  .domzarazy {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .domzarazy p {
    width: 200px;
  }
  .paszczalwa2018 {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .paszczalwa2018 p {
    width: 200px;
  }
  .intertony {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .intertony p {
    width: 200px;
  }
  .emergenza {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .emergenza p {
    width: 200px;
  }
  .cer {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .cer p {
    width: 200px;
  }
  .pubtorpeda {
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
  }
  .pubtorpeda p {
    width: 200px;
  }
  .gallery div p, .gallery2 div p {
    font-size: 14px;
  }
  .gallery, .gallery2 {
    margin-left: 30px;
  }
  .ytvideos {
    max-width: 60vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) {
  body {
    background-image: url(verticalbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .menubar {
    display: none;
  }
  .news {
    font-size: 50px;
  }
  .burgerbars {
    display: block;
  }
  
  .burgerbars.active2 .bar:nth-child(2) {
    opacity: 0;
  }
 
  .burgerbars.active2 .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .burgerbars.active2 .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .burger {
    display: block;
    font-size: 2em;
  }
  .burger ul li {
    width: 80%;
  }
  
  .burger.active2 {
    left: 0;
  }
  .bottomframe
{
    z-index: 5;
    left: 100%;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    bottom: 5%;
    transition: 0.5s;
    font-size: 3em;
}
.bottomframe.active2 {
  left: 0;
}

.burgerimg.active2 {
  top: 0;
}

.bottomframe ul
{   
    justify-content: space-around;
}
.bottomframe ul li a
{
    color: #fff;
}
.backlash, .blackening, .obliqueness {
width: 60vw;
left: 20vw;
}
.backlash img:hover, .blackening img:hover, .obliqueness img:hover {
  transform: none;
}
.obliqueness {
  top: 52.5vh;
}
.blackening {
  top: 25vh;
}
.backlash {
  top: 5vh;
}

.iframe-container {
  display: none;
}

.Membersimg {
  display: none;
}

.Memberslist {
  margin-top: 5vh;
  height: 100vh;
}
.Memberslist ul li {
    margin: 5%;
}
.Memberslist ul li p {
  width: 80vw;
  font-size: 80px;
}
.Membersdescriptions {
  margin-top: 60vh;
}
.Formeladescription img {
  height: 50vh;
}
.merchcontainer {
  top: 10vh;
  left: 10vw;
  width: 80vw;
  font-size: 30px;
}
.merchlist {
  margin-top: 60vh;
  margin-left: 5vw;
  width: 90vw;
}
.merchlist ul li p {
  font-size: 70px;
}
.merchlist ul li div {
  font-size:  40px;
}
.merchlist ul li a {
  font-size: 50px;
}

form {
  height: auto;
  width: auto;
  padding: 60px;
  margin: auto;
}

.row {
  display: block;
}

input, textarea {
  padding: 50px;
  font-size: 35px;
  margin-bottom: 30px;
}

textarea {
  height: 550px;
}

label {
  font-size: 50px;
}

.contact-box button {
  font-size: 100px;
  height: 150px;
}
input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
  top: -60px;
  font-size: 35px;
}
}

@media (max-width: 1024px) and (max-height: 1200px) and (orientation: portrait) {
  .backlash, .blackening, .obliqueness {
    width: 50vw;
    left: 25vw;
    }
    
}
@media (max-height: 1000px) and (orientation: portrait) {
  .backlash, .blackening, .obliqueness {
    width: 40vw;
    left: 30vw;
    }
}

@media (max-height: 800px) and (orientation: portrait) {
  .backlash, .blackening, .obliqueness {
    width: 35vw;
    left: 15vw;
    }
}


/* /MEDIA QUERIES */