@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{ 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}
  .menubar
{
    position: sticky;
    display: flex;
    height: 50px;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif; */
    min-width: 1500px;
    opacity: 0.9;
    font-family: 'Spectral SC', serif;
}
.menubar ul
{
    display: inline-flex;
    list-style: none;
    color: rgb(255, 255, 255);
}
.menubar ul li
{
    width: 200px;
    margin: 1%;
    padding: 10px;
    transition: 1s;
}
.menubar ul li a
{
    text-decoration: none;
    color: #fff;
    transition: 1s;  
}
.active, .menubar ul li:hover
{
    background: #B22222;
    border-radius: 30px;
    
  }
.menubar .fa
{
    margin-right: 10px;
}
.sub-menu-about
{
    display: none;
}

.menubar ul li:hover .sub-menu-about
{
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 10px;
    margin-left: -9px;
    border-radius: 5px;
}
.menubar ul li:hover .sub-menu-about ul
{
    display: block;
    margin: 10px;
}
.menubar ul li:hover .sub-menu-about ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted;
}
.menubar ul li:hover .sub-menu-about ul li:last-child
{
    border-bottom: none;
}
.fa-angle-right
{
    float: right;
}
.logo img
{
    position: absolute;
    width: 280px;
    float: left;
    border-radius: 90px;
    opacity: 0.7;
}
.iframe-container
{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    opacity: 0.9;
}
.bottomframe
{
    position: absolute;
    bottom: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:black;
    text-align: center;
    border-radius: 80px;
    opacity: 0.9;
}
.bottomframe ul
{
    display: inline-flex;
    list-style: none;
}
.bottomframe ul li
{
    width: 220px;
    margin: 1%;
    padding: 20px;
    
}
.bottomframe ul li a
{
    font-size: 30px;
    text-decoration: none;
    color: red;
}
.ytvideos
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1120px;
    height: 630px;
}   
/* label {
    display: block;
    position: absolute;
    left: auto;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    position: static;
    margin-left: 50vw;
    font-size: 16px;
    color:  rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    
  }
  
  #submit_button {
    margin-left: 33%;
    background-color: #B22222;
    height: 40px;
    width: 450px;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  input, textarea {
    margin-left: 33%;
    background-color: #D3D3D3;
    color: #2F4F4F;
    width: 450px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px #696969;
  } */
  .container {
    display: block;
    position: absolute;
    left: 15%;
    top: 15vh;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 70vw;
    border-style: ridge;
    box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 0.90);
    padding: 10px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    z-index: -1;
  }
  .container img {
      margin-top: 10px;
      width: 100%;
      height: 100%;
  }
  .Members {
    display: flex;
    margin-top: 15vh;
      
  }
  .Gorczi {
    margin-right: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 300px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    }
    .Gorczi a :hover{
     box-shadow: 0px 0px 16px 16px #B22222;
     transform: scale(1.04);
        }
  .Gorczi p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 300px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
     }
  .Gorczi img {
      width: 100%;
      height: 100%;
      transition: 0.5s;
  }
  .Anal {
    margin-right: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 300px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .Anal a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .Anal p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 300px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .Anal img {
      width: 100%;
      height: 100%;
      transition: 0.5s;
      
  }
  .Fryda {
    margin-right: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 300px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .Fryda a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .Fryda p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 300px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .Fryda img {
      width: 100%;
      height: 100%;
      transition: 0.5s;
      
  }
  .Kuba {
    margin-right: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 300px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .Kuba a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .Kuba p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 300px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .Kuba img {
      width: 100%;
      height: 100%;
      transition: 0.5s;
      
  }
  .Gorczidescription {
    display: block;
    margin-left: auto;
    margin-top: 200px;
    margin-right: auto;
    width: 90%;
    height: 40vh;
    border-radius: 20px;
    text-align: justify;
    line-height: 2.5vh;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6923144257703081) 10%, rgba(0,0,0,0.9023984593837535) 35%);
  }
  .Gorczidescription img {
    float: left;
    height: 40vh;
    padding: 1vh;
  }

  .Analdescription {
    
    display: block;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    width: 90%;
    height: 40vh;
    border-radius: 20px;
    text-align: justify;
    line-height: 2.5vh;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6923144257703081) 10%, rgba(0,0,0,0.9023984593837535) 35%);
  }

  .Analdescription img {
    float: left;
    height: 40vh;
    padding: 1vh;
    }

  .Frydadescription {
    
    display: block;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    width: 90%;
    height: 40vh;
    border-radius: 20px;
    text-align: justify;
    line-height: 2.5vh;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6923144257703081) 10%, rgba(0,0,0,0.9023984593837535) 35%);
  }

  .Frydadescription img {
    float: left;
    height: 40vh;
    padding: 1vh;
  }

  .Kubadescription {
    
    display: block;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    width: 90%;
    height: 40vh;
    border-radius: 20px;
    text-align: justify;
    line-height: 2.5vh;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6923144257703081) 10%, rgba(0,0,0,0.9023984593837535) 35%);
  }
  
  .Kubadescription img {
    float: left;
    height: 40vh;
    padding: 1vh;
  }

  .Exmembers {
    display: flex;
  }

  .Jakubmazur {
    margin-right: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 250px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .Jakubmazur img {
    width: 100%;
    height: 100%;
  }
  .Jakubmazur p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 250px;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .Szymonkrolak {
    margin-right: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 250px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .Szymonkrolak img {
    width: 100%;
    height: 100%;
  }
  .Szymonkrolak p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 250px;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .Aleksandergaldyn {
    margin-right: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 250px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .Aleksandergaldyn img {
    width: 100%;
    height: 100%;
  }
  .Aleksandergaldyn p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 250px;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }

  .Lukaszraczkowski {
    margin-right: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 250px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .Lukaszraczkowski img {
    width: 100%;
    height: 100%;
  }
  .Lukaszraczkowski p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 250px;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .Pawelsowinski {
    margin-right: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 250px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .Pawelsowinski img {
    width: 100%;
    height: 100%;
  }
  .Pawelsowinski p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 250px;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .gallery {
    display: flex;
    margin-top: 100px;
  }
  .gallery2 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
  }
  .pubtorpeda {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    height: 250px;
    width: 350px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .pubtorpeda img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .pubtorpeda a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .pubtorpeda p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .emergenza {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .emergenza img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .emergenza a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .emergenza p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .narniostock {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .narniostock img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .narniostock a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .narniostock p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .paszczalwa2018 {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .paszczalwa2018 img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .paszczalwa2018 a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .paszczalwa2018 p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }

  .intertony {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .intertony img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .intertony a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .intertony p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }


  .cer {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .cer img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .cer a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .cer p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }

  .cockney {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .cockney img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .cockney a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .cockney p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }

  .domzarazy {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }
  .domzarazy img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}
  .domzarazy a :hover{
    box-shadow: 0px 0px 16px 16px #B22222;
    transform: scale(1.04);
       }
  .domzarazy p {
    margin-left: -3px;
    margin-top: 10px;
    margin-right: auto;
    width: 350px;
    box-shadow: 0px 0px 4px 4px #B22222;
    border-style: ridge;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
  }

  .gallerycontainer {
    margin: 25vh auto;
    background-color: rgba(0, 0, 0, 0.90);
    color: rgb(255, 255, 255);
    max-width: 1600px;
    padding: 50px 20px;
    border-style: ridge;
    box-shadow: 0px 0px 4px 4px #B22222;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }

  .galleryImg {
    max-width: 100%;
    border-radius: 15px;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
  }
  
  .galleryImg:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px black;
  }

  #popup {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.90);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 250ms transform;
    padding: 50px;
  }
  
  #selectedImage {
    max-height: 100%;
  }

.tba {
  display: block;
  position: absolute;
  left: 15vw;
  top: 20vh;
  font-size: 8vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  width: 70vw;
  height: 20vh;
  text-align: center;
}

.tourdatescontainer {
  display: block;
  position: relative;
  width: 60vw;
  left: 20vw;
  top: 5vh;
  text-align: center;
  font-size: 24px;
  color: white;
  z-index: -1;
}

.tourdateslist {
  width: 100%;
  list-style: none;
}

.tourdateslist li {
  position: relative;
  display: flex;
  margin-top: 3vh;
  box-shadow: 0px 0px 4px 4px #B22222;
  border-style: ridge;
  text-align: center;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.90);
}

.tourdateslist div {
  display: block;
  position: absolute;
  left: 30%;
  width: 70%;
  font-size: 3.5vh;
  bottom: 1vh;
  font-family: 'Amatic SC', cursive;
}

.tourdateslist li p {
  position: absolute;
  display: block;
  left: 30%;
  width: 70%;
  font-family: 'Spectral SC', serif;
  font-size: 3.5vh;
  text-align: center;
  margin-bottom: 5px;
  color: white; 
}

.tourdateslist li img {
  display: block;
  width: 30%;
}

.backlash {
  position: relative;
  display: block;
  width: 60vw;
  left: 20vw;
  top: 5vh;
  z-index: -1;
}

.backlash img {
  position: absolute;
  width: 100%;
  border-radius: 30px;
  opacity: 0.98;
  border-collapse: collapse;
  border-radius:15px;
  border-style:solid;
  border-width:1px;
  border-color:red;
  box-shadow: 0px 0px 35px rgba(255,0,0);
  transition: 2s;
}

.backlash img:hover {
  transform: scale(1.2);
  transition: 2s;
}

.container {
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
}
.Members>div>p {
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
}